version = 3
final_space = true
console_title_template = '{{ .Shell }} in {{ .Folder }}'

[palette]
  blue = '#89B4FA'
  closer = 'p:os'
  lavender = '#B4BEFE'
  os = '#ACB0BE'
  pink = '#F5C2E7'

[upgrade]
  auto = false
  notice = false
  source = 'github'
  interval = '168h'

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = "python"
    style = "plain"
    display_default = true
    display_mode = "environment"
    folder_name_fallback = true
    default_venv_names = [ "venv", ".venv", "env", ".env" ]
    foreground = 'p:pink'
    background = 'transparent'
    template = "({{ if .Error }}{{ .Error }}{{ else }}{{ if .Venv }}{{ .Venv }} {{ end }} {{ .Full }}{{ end }}) "

  [[blocks.segments]]
    type = "docker"
    style = "powerline"
    powerline_symbol = ""
    foreground = "#000000"
    background = "#0B59E7"
    template = "  {{ .Context }} "

  [[blocks.segments]]
    type = "session"
    style = "powerline"
    powerline_symbol = ""
    foreground = "#000000"
    background = "#0B59E7"
    template = "{{ if .SSHSession }} {{ .HostName }}{{ end }}"

  [[blocks.segments]]
    type = 'path'
    style = 'plain'
    foreground = 'p:pink'
    template = '{{ .Path }} '

    [blocks.segments.properties]
      style = 'full'
      folder_icon = '....'
      home_icon = '~'

  [[blocks.segments]]
    type = 'git'
    style = 'plain'
    foreground = 'p:lavender'
    template = '{{ .HEAD }} '

    [blocks.segments.properties]
      branch_icon = ' '
      cherry_pick_icon = ' '
      commit_icon = ' '
      fetch_status = false
      fetch_upstream_icon = false
      merge_icon = ' '
      no_commits_icon = ' '
      rebase_icon = ' '
      revert_icon = ' '
      tag_icon = ' '

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    type = 'text'
    style = 'plain'
    foreground_templates = [
      "{{if gt .Code 0}}red{{end}}",
      "{{if eq .Code 0}}magenta{{end}}",
    ]
    background = 'transparent'
    template = '❯'

[transient_prompt]
  foreground_templates = [
    "{{if gt .Code 0}}red{{end}}",
    "{{if eq .Code 0}}magenta{{end}}",
  ]
  background = 'transparent'
  template = '❯ '

[secondary_prompt]
  foreground = 'magenta'
  background = 'transparent'
  template = '❯❯ '
